{% extends 'authapp/base.html' %}
{% load static %}

{% block content %}

  <div class="container col-md-4 mt-5">

    <div class="card border-1 rounded-lg mt-5">
      <div class="card-header"><h3 class="text-center font-weight-light my-4">Sign UP</h3></div>
      <div class="card-body">
        <form action="{% url 'auth:register' %}" method="POST" enctype="multipart/form-data">
          {% csrf_token %}

          <div class="form-error">{{ register_form.non_field_errors }}</div>

          {#  {{ register_form.as_p }}#}
          {% for f in register_form %}

            <div class="form-group">
              <label class="small mb-1" for="{{ f.id_for_label }}">{{ f.label }}</label>
              {{ f }}
              <div class="">{{ f.errors }}</div>

            </div>

          {% endfor %}

          <div class="form-group">
            <div class="custom-control custom-checkbox">
              <input class="custom-control-input" id="rememberPasswordCheck"
                     type="checkbox"/>
              <label class="custom-control-label" for="rememberPasswordCheck">Remember
                password</label>
            </div>
          </div>

          <div class="form-group d-flex align-items-center justify-content-between mt-4 mb-0">
            <a class="small" href="#">Forgot Password?</a>
            <button type="submit" class="btn btn-primary">Sign UP</button>
          </div>
        </form>
      </div>
      <div class="card-footer text-center">
        <div class="small"><a href="{% url "main:index" %}">Back to the main page</a></div>
      </div>
    </div>
  </div>
{% endblock %}