{% extends "employee/base.html" %}
{% block content %}
<div class="card">
  <div class="card-header">
      <h1><b>Resume ID {{ object }} {{ object.position_seek }}</b></h1>
  </div>
  <div class="card-body col-md-9">
  <table class="table">
      {% if object %}
    	<tr>
        <td><img src="/media/{{ object.user_pic|default:'users/user-placeholder.png' }}" alt="{{ object.family_name }}"> {{ object.user_pic }}</td>
        <td>{{ object.first_name }}{{ object.middle_name }}{{ object.family_name }}</td>
      </tr>
    	{% endif %}
    	{% if object.gender %}
    	<tr>
        <th>Gender</th>
        <td>{{ object.gender }}</td>
      </tr>
    	{% endif %}
    	{% if object.birthday %}
    	<tr>
            <th>Birthday</th>
            <td>{{ object.birthday }}</td>
        </tr>
    	{% endif %}
        
        
        <!--for inline added edu_titles-->
        {% if object.edu_titles %}
        {% for title in object.edu_titles.all %}
        <tr>
            <th>Title {{edu_titles.college_name}}</th>
            <td>{{edu_titles.specialization}}</td>
            <td>{{edu_titles.grade}}</td>
            <td>{{edu_titles.graduated_at}}</td>
        </tr>
        {% endfor %}
        {% endif %}
        <!--end-->
        <!--for inline added job_titles-->
        {% if object.job_titles %}
        {% for title in object.job_titles.all %}
        <tr>
            <th>Title {{job_titles.employer}}</th>
            <td>{{job_titles.employer_link}}</td>
            <td>{{job_titles.position}}</td>
            <td>{{job_titles.start_at}}</td>
            <td>{{job_titles.finish_at}}</td>
        </tr>
        {% endfor %}
        {% endif %}


    	
        </table>
        <a class="btn btn-outline-info" href="{% url 'employee:cv_update' pk=object.id %}">Update</a>
        <a class="btn btn-outline-danger" href="{% url 'employee:cv_delete' pk=object.id %}">Delete</a>
        </div>
</div>
{% endblock content %}