<table id="books-table" class="table">
  <thead>
  <tr>
    <th class="text-center" scope="col">#</th>
    <th class="text-center" scope="col">Position</th>
    <th class="text-center" scope="col">Compensation (€)</th>
    <th class="text-center" scope="col">First Name</th>
    <th class="text-center" scope="col">Family Name</th>
    <th class="text-center" scope="col">Gender/th>
    <th class="text-center" scope="col">City</th>
    <th class="text-center" scope="col">Birthday</th>
    <th class="text-center" scope="col">Read / Update / Delete</th>
  </tr>
  </thead>
  <tbody>
  {% for cv in cvs %}
    <tr>
      <th class="text-center" scope="row">{{ forloop.counter }}</th>
      <td class="text-center">{{ cv.position_seek }}</td>
      <td class="text-center">{{ cv.first_name }}</td>
      <td class="text-center">{{ cv.family_name }}</td>
      <td class="text-center">{{ cv.gender }}</td>
      <td class="text-center">{{ cv.city }}</td>
      <td class="text-center">{{ cv.birthday }}</td>
      <td class="text-center">
        <!-- Read buttons -->
        <button type="button" class="bs-modal read-book btn btn-sm btn-primary" data-form-url="{% url '#' cv.pk %}">
          <span class="fa fa-eye"></span>
        </button>
        <!-- Update buttons -->
        <button type="button" class="update-book btn btn-sm btn-primary" data-form-url="{% url '#' cv.pk %}">
          <span class="fa fa-pencil"></span>
        </button>
        <!-- Delete buttons -->
        <button type="button" class="bs-modal delete-book btn btn-sm btn-danger" data-form-url="{% url '#' cv.pk %}">
          <span class="fa fa-trash"></span>
        </button>
      </td>
    </tr>
  {% endfor %}
  </tbody>
</table>