{% extends 'employer/base.html' %}
{% load static %}
{% load filter_tags %}

{% block content %}


  <!-- Container for BradCrumbs-->

  <div class="container ">
    <nav aria-label="breadcrumb ">
      <ol class="breadcrumb alert alert-success">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">employer/</li>
      </ol>
    </nav>
  </div>


  <div class="container mb-lg-4 mt-lg-4">
    <h2>Employer {{ request.user.first_name }} Dashbord</h2>
    <hr>
    {#    <h3>Hello {{ request.user }}</h3>#}
  </div>

  <!-- Container for Companies-->
  <div class="container mb-lg-4">
    <!-- My Companies card -->
    <div class="card mb-lg-4">
      <div class="card-header">
        <h3>My Companies</h3>
        <a class="btn btn-outline-primary" href="{% url 'employer:company_create' %}" role="button">Create New
          Company</a>
      </div>
      <div class="card-body">
        {% if company %}
          {% for object in company|in_user_category:user %}
            <li>
              <a href="{% url "employer:company_detail" pk=object.pk %}">Company {{ object.company_name }}</a>
            </li>
          {% endfor %}
        {% else %}
          <p>No companies so far</p>
        {% endif %}
      </div>
    </div>
    <!-- End Card -->
  </div>
  <!-- End Container for companies -->



  <!-- Container for Vacancies-->
  <div class="container">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
           >Company1</a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile"
           >Company2</a>
      </li>
    </ul>
  </div>

  <div class="container">
    <div class="tab-content" id="myTabContent">
      <!-- My vacancy tab 1 -->
      <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
        <div>
          <!-- My vacancy card 1 -->
          <div class="card mb-lg-4">
            <div class="card-header">
              <h3>My Vacancies</h3>
              <a class="btn btn-outline-primary" href="{% url 'employer:vacancy_create' %}" role="button">Create New Vacancy</a>
            </div>
            <div class="card-body">
              {% if vacancy %}
                {% for object in vacancy %}
                  <li>
                    <a href="{% url 'employer:vacancy_detail' pk=object.pk %}">Vacancy ID {{ object }}</a>
                  </li>
                {% endfor %}
              {% else %}
                <p>No vacancies so far</p>
              {% endif %}
            </div>
          </div>
          <!-- End Card -->
        </div>
      </div>


      <!-- My vacancy tab 2 -->
      <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
        <div>
          <!-- My resumes card 2 -->
          <div class="card mb-lg-4">
            <div class="card-header">
              <h3>My Vacancies</h3>
              <a class="btn btn-outline-primary" href="{% url 'employer:vacancy_create' %}" role="button">Create New Vacancy</a>
            </div>
            <div class="card-body">
              {% if vacancy %}
                {% for object in vacancy %}
                  <li>
                    <a href="{% url 'employer:vacancy_detail' pk=object.pk %}">Vacancy ID {{ object }}</a>
                  </li>
                {% endfor %}
              {% else %}
                <p>No vacancies so far</p>
              {% endif %}
            </div>
          </div>
          <!-- End Card -->
        </div>
      </div>
    </div>

  </div>
  <!-- End Container for Vacancies -->


  <div class="col-12 mb-3">
            {% if books %}
              {% include "employer/includes/inc_cv_table.html" %}
            {% else %}
              <p class="no-books text-primary">No books added yet.</p>
            {% endif %}
  </div>

{% endblock %}
