{% extends "employer/base.html" %}
{% block content %}

  <div class="container ">
    <nav aria-label="breadcrumb ">
      <ol class="breadcrumb alert alert-success">
        <li class="breadcrumb-item"><a href="{% url 'employer:employer' %}">employer</a></li>
        <li class="breadcrumb-item"><a href="{% url 'employer:vacancy_detail' pk=object.id %}">vacancy</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ object.pk }} /</li>
      </ol>
    </nav>
  </div>

  <div class="container">
    <div class="card">
      <div class="card-header">
        <h2><b> {{ object.position }} </b></h2>
      </div>
      <div class="card-body col-md-9">
        <table class="table">
          {% if object %}
            <tr>
              <th>Company</th>
              <td><h3>{{ object.company }}</h3></td>
            </tr>
          {% endif %}

          {% if object.city %}
            <tr>
              <th>City</th>
              <td><h6>{{ object.city }}</h6></td>
            </tr>
          {% endif %}


          {% if object.compensation %}
            <tr>
              <th>Compensation</th>
              <td><h6>{{ object.compensation }}</h6></td>
            </tr>
          {% endif %}

          {% if object.duties %}
            <tr>
              <th>Duties</th>
              <td><h6>{{ object.duties }}</h6></td>
            </tr>
          {% endif %}


          {% if object.created_at %}
            <tr>
              <th>Created at</th>
              <td><h6>{{ object.created_at }}</h6></td>
            </tr>
          {% endif %}

        </table>
        <a class="btn btn-outline-info" href="{% url 'employer:company_update' pk=object.id %}">Update</a>
        <a class="btn btn-outline-danger" href="{% url 'employer:company_delete' pk=object.id %}">Delete</a>
      </div>
    </div>
  </div>


{% endblock content %}